{% extends "frontend/account/account_base.twig" %}

{% block accontent %}

    <p>Редактирование данных</p>

    {% for errors in errors %}
        <div class="errors_div">
        <p>{{ errors }}</p>
        </div>
    {% endfor %}

    <div class="ref_form_div">
        <form action="#" method="post">
            <p>
                <label>Фамилия:</label>
                <input type="text" name="lastname" value="{{ users_data.lastname }}" class="form-control"/>
            </p>
            <p>
                <label>Имя:</label>
                <input type="text" name="name" value="{{ users_data.name }}" class="form-control"/>
            </p>
            <p>
                <label>E-mail:</label>
                <input type="text" name="email" value="{{ users_data.email }}" class="form-control"/>
            </p>
            <p class="form_btn">
                <input type="submit" name="submit" value="Готово" class="btn product-btn"/>
            </p>
        </form>
    </div>

{% endblock %}